<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="description" content="Cadastro de ocorrência de segurança da UFRJ">
  <meta name="keywords" content="UFRJ, violência, segurança, SOS UFRJ">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <title>SOS UFRJ</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <a href=""><img alt="logo" src="media/logo.jpeg" width="80px" height"30px"></a>

  <h1>SOS UFRJ</h1>

  <div id="botoesHome">

	<a class="button" href="busca">Busca de Ocorrência</a>
	<br><br><br>
	<a class="button" href="ocorrencia">Cadastro de Ocorrência</a>

  <div>

</body>
</html>
